.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* If you want to display: flex; some elements, you need to see who those elements belong to, that is, you need to give the parent of the elements a class/direct style to display flex. */

nav ul li {
    list-style: none;
    margin-right: 50px;

    /* Since this is a list, list-style: none; has been used, text-decoration: none; has not been used. */
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    /* Due to display flex, the parent is inline, but the elements within the parent will still be inline, but they will be stuck to each other. To fix this, you need to give the elements a specific style, such as: margin. */
}

.nav-title .text-primary {
    color: green;
}

.btn-primary {
    background-color: indianred;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    /* 18px top and bottom, 35px left and right */
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

/* Banner Style */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

/* Nav + Banner Image (Header Image) */
.header {
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-position: first picture, second picture */
}

/* Main */
.main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section */
.about {
    background-color: oldlace;
    border-radius: 10px;
    padding: 130px 150px;
    margin: 30px 35px;
    text-align: center;
}

.item-description {
    font-weight: 800
}

.about-items {
    display: flex;
    justify-content: space-between;
}

/* Skills Section */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);
    border-radius: 10px;
}

.skills {
    text-align: center;
    margin-top: 130px;
}

/* Resume Section */
.resume {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.portfolio {
    text-align: center;
    margin-bottom: 40px;
}

.education {
    text-align: left;
    width: 500px;
}

.experience {
    text-align: left;
    width: 500px;
}

/* Footer Section */
footer {
    display: flex;
    background-color: oldlace;
    justify-content: center;
}

footer input[type="Your Name"],
footer input[type="Your Email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.connect {
    width: 500px;
}